<!doctype html>
<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="/public/css/main.css"> -->
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <section>
      <%- body %> 
    </section>
    <footer>
      powered by <a href="https://github.com/twolfson/jojo">jojo</a>
    </footer>
  </body>
</html>

