<article class="post">
  <header>
    <h1><%= article.title %></h1>
    <span class="date"><%= article.rawDate %></span>
  </header>

  <section class="content">
    <%- article.content %>
  </section>
</article>

